@keyframes rgb-text {
  0% {
    background-position: 0% 50%;
    background-color: #007acc;
    background-clip: text;
    color: transparent;
  }

  25% {
    background-position: 50% 50%;
    background-color: #ff0000;
    background-clip: text;
    color: transparent;
  }

  50% {
    background-position: 100% 50%;
    background-color: #4caf50;
    background-clip: text;
    color: transparent;
  }

  75% {
    background-position: 50% 0%;
    background-color: #ffd700;
    background-clip: text;
    color: transparent;
  }

  100% {
    background-position: 0% 50%;
    background-color: #007acc;
    background-clip: text;
    color: transparent;
  }
}

@keyframes rgb-text-dark {
  0% {
    background-position: 0% 50%;
    background-color: #55defe;
    background-clip: text;
    color: transparent;
  }

  25% {
    background-position: 50% 50%;
    background-color: #ff0000;
    background-clip: text;
    color: transparent;
  }

  50% {
    background-position: 100% 50%;
    background-color: #4caf50;
    background-clip: text;
    color: transparent;
  }

  75% {
    background-position: 50% 0%;
    background-color: #ffd700;
    background-clip: text;
    color: transparent;
  }

  100% {
    background-position: 0% 50%;
    background-color: #55defe;
    background-clip: text;
    color: transparent;
  }
}

@keyframes rgb-bg {
  0% {
    background-position: 0% 50%;
    background-color: #007acc;
  }

  25% {
    background-position: 50% 50%;
    background-color: #ff0000;
  }

  50% {
    background-position: 100% 50%;
    background-color: #4caf50;
  }

  75% {
    background-position: 50% 0%;
    background-color: #ffd700;
  }

  100% {
    background-position: 0% 50%;
    background-color: #007acc;
  }
}

@keyframes rgb-bg-dark {
  0% {
    background-position: 0% 50%;
    background-color: #55defe;
  }

  25% {
    background-position: 50% 50%;
    background-color: #ff0000;
  }

  50% {
    background-position: 100% 50%;
    background-color: #4caf50;
  }

  75% {
    background-position: 50% 0%;
    background-color: #ffd700;
  }

  100% {
    background-position: 0% 50%;
    background-color: #55defe;
  }
}

@keyframes moveBlob1 {
  0% {
    transform: translate(0vw, 0vh) rotate(0deg) scale(1);
  }

  25% {
    transform: translate(-15vw, -10vh) rotate(-10deg) scale(1.05);
  }

  50% {
    transform: translate(-25vw, -20vh) rotate(10deg) scale(0.95);
  }

  75% {
    transform: translate(-10vw, -15vh) rotate(-5deg) scale(1.1);
  }

  100% {
    transform: translate(0vw, 0vh) rotate(0deg) scale(1);
  }
}

@keyframes moveBlob2 {
  0% {
    transform: translate(0vw, 0vh) rotate(0deg) scale(1);
  }

  25% {
    transform: translate(-10vw, 15vh) rotate(5deg) scale(1.05);
  }

  50% {
    transform: translate(-20vw, 5vh) rotate(-5deg) scale(0.95);
  }

  75% {
    transform: translate(-5vw, 20vh) rotate(10deg) scale(1.1);
  }

  100% {
    transform: translate(0vw, 0vh) rotate(0deg) scale(1);
  }
}

@keyframes moveBlob3 {
  0% {
    transform: translate(0vw, 0vh) rotate(0deg) scale(1);
  }

  25% {
    transform: translate(-15vw, 10vh) rotate(-5deg) scale(1.05);
  }

  50% {
    transform: translate(-5vw, 25vh) rotate(10deg) scale(0.95);
  }

  75% {
    transform: translate(-20vw, 10vh) rotate(-10deg) scale(1.1);
  }

  100% {
    transform: translate(0vw, 0vh) rotate(0deg) scale(1);
  }
}

@keyframes moveBlob4 {
  0% {
    transform: translate(0vw, 0vh) rotate(0deg) scale(1);
  }

  25% {
    transform: translate(10vw, -15vh) rotate(-10deg) scale(1.05);
  }

  50% {
    transform: translate(-5vw, -25vh) rotate(5deg) scale(0.95);
  }

  75% {
    transform: translate(15vw, -10vh) rotate(-5deg) scale(1.1);
  }

  100% {
    transform: translate(0vw, 0vh) rotate(0deg) scale(1);
  }
}

@keyframes moveBlob5 {
  0% {
    transform: translate(0vw, 0vh) rotate(0deg) scale(1);
  }

  25% {
    transform: translate(20vw, 10vh) rotate(5deg) scale(1.05);
  }

  50% {
    transform: translate(30vw, 20vh) rotate(-10deg) scale(0.95);
  }

  75% {
    transform: translate(15vw, 30vh) rotate(10deg) scale(1.1);
  }

  100% {
    transform: translate(0vw, 0vh) rotate(0deg) scale(1);
  }
}

@keyframes darkBackgroundGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes slideTectStack {
  to {
    left: -500px;
  }
}
