@import url("./animations.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  @apply box-border p-0 m-0 transition-all duration-100;
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-slate-800 dark:text-slate-300;
}

::selection {
  @apply bg-primary text-white dark:text-black;
}

.container {
  @apply pl-[8vw] pr-[8vw] mx-auto;
}

.text-format {
  @apply px-2;
}

.paragraph-format {
  @apply px-2 w-full min-w-[400px] max-w-[600px] dark:text-slate-400;
}

.desc-format {
  @apply px-2 line-clamp-2;
}

.active {
  @apply bg-primary hover:bg-primaryvariant text-white dark:text-black;
}

.button-format {
  @apply text-center w-[150px] h-[50px] py-[15px] rounded-lg;
}

.show {
  @apply opacity-100 visible;
}

.hide {
  @apply opacity-0 invisible;
}

/* customs */
.bg-instagram-gradient {
  background: radial-gradient(
      circle farthest-corner at 34% 100%,
      #fcdf8f -5%,
      #fbd377 5%,
      #fa8e37 15%,
      #f73344 30%,
      transparent 65%
    ),
    linear-gradient(145deg, #3051f1 35%, #c92bb7 70%);
}
